.item {
  background: #f0ebe1;
  margin-bottom: 5px;
  padding: 10px 20px;
}
.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #85662b;
  font-size: 12px;
  cursor: pointer;
}

.subCategory {
  background: white;

  display: flex;
  flex-direction: column;
  color: #8b7f75;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
  font-size: 9px;
  cursor: pointer;
}
.subCategory p {
  border-bottom: 1px solid lightgray;
  padding-bottom: 5px;
}
.subCategory.show {
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}
